<div class="comment-container bg-light">
  <div class="text-center title">
    <h5>- コメント一覧 -</h5>
  </div>
  <%= comments.count %>件のコメント
  <div class="media">
    <div class="media-body">
      <% comments.each do |comment| %>
        <a href="#" class="mr-3">
          <%# プロフィール画像 %>
        </a>
        <% unless comment.id.nil? %>
          <div class="comment-entry">
            <%= link_to "@#{comment.user.name}", user_session_path(comment.user.id) %>
              <%= comment.text %>
              <% if comment.user == current_user %>
                <%= link_to "削除", post_comment_path(@post, comment), method: :delete, data: { confirm: "削除しますか？" }, remote: true, class: "comment_destroy" %>
              <% end %>
          </div>
          <small class="post-time text-muted"><%= l comment.created_at, format: :short %></small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>