<div class="card top-page">
  <div class="col-12 col-md-12 col-lg-12 top-wrap">
    <div class="row top-wrap">
      <div class="col-md-7">
        <div class="card-top-left">
          <div class="card-left-title">
            <strong><h2>- 明日の500円を稼ぐ -</h2></strong>
            <h4>自慢の売場を共有しよう</h4>
          </div>
          <div class="card-left-body">
            <h3 class="card-header bg-dark text-white">About Seller info</h3>
            <div class="card-body">
              <h5 class="card-explain">Seller infoは小売店舗の投稿型情報共有サイト！</h5>
              <p class="card-text">
                日々変更が必要な売場…どのように変更しようか。<br>他店はどうしているのだろうか？<br>
                そんな担当者さんの悩みを改善できるよう実例を写真でわかりやすく拝見することができ、参考にしていただけます。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card card-top-right bg-white">
          <div class="container-login">
            <h3><%= t('.sign_in') %></h3>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: 'current-password',
                                    class: 'form-control',
                                    required: true,
                                    minlength: @minimum_password_length,
                                    maxlength: '30' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-group form-check">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' do %>
                    <%= resource.class.human_attribute_name('remember_me') %>
                  <% end %>
                </div>
              <% end %>

              <div class="form-group">
                <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
                <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, method: :post, class: 'btn btn-info btn-block' %>
              </div>
            <% end %>

            <%= render 'devise/shared/links' %>          
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="contents-info">
    <p>情報を共有して課題を解消しよう</p>
  </div>

  <div class="deck-entry">
    <div id="deck" class="card-deck">
      <div class="card card-container bg-dark">
        <%= image_tag "new.png" ,class:"card-top-img" %>
        <div class="card-body text-white">
          <h5 class="card-title">新規発売</h5>
          <p class="card-text">大量な毎週の新規商品<br>他店はどんな工夫をしているの？</p>
        </div>
      </div>

      <div class="card card-container bg-dark">
        <%= image_tag "season.png" ,class:"card-top-img" %>
        <div class="card-body text-white">
          <h5 class="card-title"><br>季節商品</h5>
          <p class="card-text">早めの展開が必須！<br>いつからの展開が正解なの？</p>
        </div>
      </div>

      <div class="card card-container bg-dark">
        <%= image_tag "reserve.png" ,class:"card-top-img" %>
        <div class="card-body text-white">
          <h5 class="card-title">予約商品</h5>
          <p class="card-text">シーズン毎の様々な予約商品<br>どうやって獲得しているの？</p>
        </div>
      </div>

    </div>
  </div>
</div>

