<div class="container form-container">
  <%= form_with model: @post, local: true do |f| %>
    <%= image_tag(@post.image.url) if @post.image? %>
    <%= f.hidden_field :image_cache %>
    <div class="card image-form-card">
      <%= f.file_field :image, class: "post-image", accept: "image/png,image/jpeg,image/gif" %>
    </div>      
    <%= f.text_area :body, class: "input-post", placeholder: " ðŸ–‹æŠ•ç¨¿ã™ã‚‹..", rows: 10, required: true %>
    <%= f.submit "æŠ•ç¨¿ã™ã‚‹", class: "form-btn btn btn-info btn-lg btn-block" %>
  <% end %>
</div>
