<div class="container-fluid">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-6 text-card-container">
        <div class="card content-card border-dark mb-3">
          <%= link_to post_path(post.id), class:"abc" do %>
            <div class="card-header p-1">
              <%= image_tag post.image.url, class: 'card-img-top'%>
            </div>
            <div class="card-body text-card-body">
              <p class="card-text text-title">
                <img src=<%= post.user.image %> class = "icon_image">
                <strong><%= post.user.name %></strong>
              </p>
              <p><%= post.body.truncate(30) %></p>
              <small class="text-muted">
                <%= l post.created_at, format: :short %>
              </small>
              <hr>
              <div id="index_like<%= post.id %>">
                <%= render partial: 'likes/like', locals: { post: post, like: @like} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>