<h1>投稿一覧</h1>
<div>
  <% @posts.each do |post| %>
    <p>【投稿者】<%= post.user.name %></p>
    <%= link_to post_path(post.id) do %>
      <div class="content_post">
        <%= image_tag post.image.url %>
        <p><%= post.created_at %></p>
      </div>
    <% end %>
    <p>
      <% if post.body.nil? %>
        <%= post.body %> 
      <% else %>
        <%= safe_join(post.body.split("\n"),tag(:br)) %>
      <% end %> 
    </p> 
  <% end %>
</div>
<hr>