<h1>投稿一覧</h1>
<div>
  <%= @posts.each do |post| %>
    <p>【名前】<%= post.user.name %></p>
    <p><%= image_tag post.image.url%></p>
    <p><%= link_to "詳細", post %></p>
    <p>
      <% if post.body.nil? %>
        <%= post.body %> 
      <% else %>
        <%= safe_join(post.body.split("\n"),tag(:br)) %>
      <% end %> 
    </p> 
  <% end %>
</div>
<hr>