<h1>投稿詳細</h1>
<div>
    <% if @post.image? %> 
      <p><%= image_tag @post.image.url%></p>
    <% end %>
    <p>【名前】<%= @post.user.name %></p>
    <p>
      <% if current_user.id == @post.user_id %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" } %>
      <% end %>
    </p>
    <p>【投稿日】 <%= l @post.created_at %></p>
    <% if @post.body.nil? %>
      <%= @post.body %> 
    <% else %>
      <%= safe_join(@post.body.split("\n"),tag(:br)) %>
    <% end %>  
</div>
