<div class="container">
  <div class="contents-title text-center">
    <h3>- 投稿詳細 -</h3>
  </div>
  <div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
    <div class="row post-wrap">
      <div class="col-md-8">
        <div class="card-left">
          <%= image_tag @post.image.url, class: 'card-img-left' %>
        </div>
      </div>
      <div class="col-md-4 bg-white">
        <div class="card-right ">
          <div class="card-right-comment">
            <div class="card-right-name">
              <%# <%= link_to user_session_path(@post.user), class: "no-text-decoration" do %>
                <%# <%= image_tag image_url(@post.user), class: "post-profile-icon" %>
              <%# <% end %>
              <%= link_to user_session_path(@post.user), class: "black-color post-user-name", title: @post.user.name do %>
                <h4><strong><%= @post.user.name %></strong></h4>
              <% end %>
            </div>
            <div class="card-right-body">
              <div class="m-2">
                <strong>
                  <% if @post.body.nil? %>
                    <%= @post.body %> 
                  <% else %>
                    <%= safe_join(@post.body.split("\n"),tag(:br)) %>
                  <% end %>  
                </strong>
              </div>
            </div>
          </div>
          <small class="post-time text-muted"><%= l @post.created_at, format: :short %></small>
          <hr>
          <div class="card-right-like">
            <strong>
              <span class='text'>
                参考になったら「いいね」<i class="far fa-regular fa-thumbs-up"></i>
              </span>
            </strong>
            <div id="index_like<%= @post.id %>">
              <%= render partial: 'likes/like', locals: { post: @post, like: @like} %>
            </div>
          </div>
          <p class="post-id">
            <% if current_user.id == @post.user_id %>
              <%= link_to "編集", edit_post_path(@post), class: "card-text-btn btn-success btn-lg btn-block" %>
              <%= link_to "削除", post_path(@post), class: "card-text-btn btn btn-danger btn-lg btn-block", method: :delete, data: { confirm: "削除しますか？" } %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card comment-card">
    <div class="comment-create">
      <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div> 
    </div>
  </div>
</div>